.grid-layout {
    width: -moz-fit-content;
    width: fit-content;
}

.grid-element {
    display: inline-grid;
    position: relative;
    text-align: center;
    margin: 0.4em 0.2em;
    border: 1px solid #ddd;
    border-radius: 1em;
    box-shadow: inset 0px -10px 10px 0px #6c6c6c8c;
}

.grid-element img {
    margin-top: .5em;
    height: 7em;
}

.grid-element:hover {
    box-shadow: 3px 3px 10px 0px black;
}

.grid-element label {
    position: absolute;
    justify-self: center;
    padding-bottom: 1.2em;
    top: .3em;
    height: 1.4em;
    text-shadow: 1px 1px 0 #eef;
    color: #444;
    font-family: lato,sans-serif;
    font-weight: bold;
    background-image: linear-gradient( to bottom,hsla(0,0%,100%,0.9) 0%,hsla(0,0%,100%,0.889) 11.2%,hsla(0,0%,100%,0.856) 21%,hsla(0,0%,100%,0.806) 29.6%,hsla(0,0%,100%,0.742) 37.1%,hsla(0,0%,100%,0.667) 43.7%,hsla(0,0%,100%,0.583) 49.6%,hsla(0,0%,100%,0.495) 55%,hsla(0,0%,100%,0.405) 60%,hsla(0,0%,100%,0.317) 64.8%,hsla(0,0%,100%,0.233) 69.6%,hsla(0,0%,100%,0.158) 74.6%,hsla(0,0%,100%,0.094) 80%,hsla(0,0%,100%,0.044) 85.9%,hsla(0,0%,100%,0.011) 92.5%,hsla(0,0%,100%,0) 100% );
}

legend {
    float: left;
    position: absolute;
    z-index: 1;
    display: none;
}