<<<<<<< HEAD
body {
    text-align: center;
=======
* {
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    -ms-user-select:none;
}

body {
    text-align: center;
    margin-bottom: 5em;
}

.show {
    background-image: linear-gradient(to top, #39ff39 0%, white 70%);
}

.hide {
    background-image: linear-gradient(to top, #ff0000 0%, white 70%);
}

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding-top: .8em;
  border: 1px solid #ccc;
  border-top: none;
>>>>>>> a4c9c82 (Added options and sliders. Need to add sliders to cookies)
}