<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Select Go</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div id="top_panel"></div>
    <div id="bottom_panel"></div>
    <div id="side_panel"></div>
    <div id="grid" class="grid-layout"></div>

    <script src="{{ url_for('static', filename='js/toggle_element.js') }}"></script>
    <script src="{{ url_for('static', filename='js/load.js') }}"></script>

    <script>
        var toggle_data = {};
        {% for key, value in toggle_data.items() %}
            toggle_data['{{key}}'] = {{value}};
        {% endfor %}
        
        load('/show_table', function(content){document.getElementById('grid').innerHTML=content});
    </script>
</body>
</html>