 {% for data in options['options'] %}
    <div id="{{data[0]}}" class="top_panel_option{{data[2]}}" onclick="toggle_element(this.id, 'top_panel_option')">
        <label>{{data[1]}}</label>
    </div>
{% endfor %}

<div class="slidecontainer">
    <label>Dystans: </label> <label id="distance_label">0 km</label>
    <div class="slider_group">
        <input type="range" min="0" max="500" value="{{options['sliders']['from_distance']}}" class="slider" id="from_distance">
        <input type="range" min="0" max="500" value="{{options['sliders']['to_distance']}}" class="slider" id="to_distance">
    </div>
    <label>Dni: </label> <label id="days_label">0</label>
    <div class="slider_group">
        <input type="range" min="0" max="300" value="{{options['sliders']['from_day']}}" class="slider" id="from_day">
        <input type="range" min="0" max="300" value="{{options['sliders']['to_day']}}" class="slider" id="to_day">
    </div>
</div>